doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Pratt - Free Bootstrap 3 Theme')
        meta(name='author', content='Alvarez.is - BlackTie.co')
        link(rel='shortcut icon', href='ico/favicon.png')
        title Pratt - Free Bootstrap 3 Theme
        // Bootstrap core CSS
        link(href='css/bootstrap.css', rel='stylesheet')
        // Custom styles for this template
        link(href='css/main.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')
        script(src='js/jquery.min.js')
        script(src='js/smoothscroll.js')
    body(data-spy='scroll', data-offset='0', data-target='#navigation')
        // Fixed navbar
        #navigation.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')
                        b Pratt
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.active
                            a.smothscroll(href='#home') Home
                        li
                            a.smothscroll(href='#desc') Description
                        li
                            a.smothScroll(href='#showcase') Showcase
                        li
                            a.smothScroll(href='#contact') Contact
                // /.nav-collapse
        section#home(name='home')
        #headerwrap
            .container
                .row.centered
                    .col-lg-12
                        h1
                            | I Can Has 
                            b Help?
                        h3 Find out if you're eligible for help from various programs and sources provided to NYC residents.
                        br
            // / .container
        // / #headerwrap
        section#desc(name='desc')
        // INTRO WRAP
        #intro
            .container
                .row.centered
                    h1 Some extra links here
                    br
                    br
                    .col-lg-12
                        img(src='img/intro01.png', alt='')
                        h3 NYC Residents
                        p If you're an NYC resident, there are many sources of help. Data provided by NYC OpenData.
                    
                br
                hr
            // / .container
        // / #introwrap
        // FEATURES WRAP
        #features
            .container
                .row
                    h1.centered I Can Has Help?
                    br
                    .col-lg-12.text-center
                        h3 Select all that apply to you
                        p The form below contains three checkboxes. The last option is disabled:
                .row
                    .col-lg-3.col-lg-offset-5
                            .container
                                form
                                    .checkbox
                                        label
                                            input(type='checkbox', value='')
                                            | Option 1
                                    .checkbox
                                        label
                                            input(type='checkbox', value='')
                                            | Option 2
                                    .checkbox.disabled
                                        label
                                            input(type='checkbox', value='', disabled='')
                                            | Option 3
                        
            // / .container
        // / #features
        section#showcase(name='showcase')
        #showcase
            .container
                .row
                    h1.centered Some Screenshots
                    br
                    .col-lg-8.col-lg-offset-2
                        #carousel-example-generic.carousel.slide
                            // Indicators
                            ol.carousel-indicators
                                li.active(data-target='#carousel-example-generic', data-slide-to='0')
                                li(data-target='#carousel-example-generic', data-slide-to='1')
                            // Wrapper for slides
                            .carousel-inner
                                .item.active
                                    img(src='img/item-01.png', alt='')
                                .item
                                    img(src='img/item-02.png', alt='')
                br
                br
                br
            // /container
        section#contact(name='contact')
        #footerwrap
            .container
                .col-lg-4
                    h3 Made possible by:
                    p
                        a(href="https://dev.socrata.com/") The Socrata Open Data API
                .col-lg-4
                    h3 Dataset Owner:
                    p
                        a(href="https://opendata.cityofnewyork.us/") NYC OpenData
                .col-lg-4
                    h3 Data provided by:
                    p Mayor’s Office of Operations (OPS)
        #c
            .container
                p
                    | Created by 
                    a(href='http://www.chrisriewaldt.com') ChrisR
        //
            Bootstrap core JavaScript
            ==================================================
        // Placed at the end of the document so the pages load faster
        script(src='js/bootstrap.js')
        script.
            $('.carousel').carousel({
            interval: 3500
            })
