doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Get information on health and human services available to NYC residents')
        meta(name='author', content='Chris Riewaldt - ChrisRiewaldt.com')
        link(rel='shortcut icon', href='ico/favicon.png')
        title I Can Has Help? - Get information on benefits, programs, resources, and services available to NYC residents
        // Bootstrap core CSS
        link(href='css/bootstrap.css', rel='stylesheet')
        // Custom styles for this template
        link(href='css/main.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')
        script(src='js/jquery.min.js')
        script(src='js/smoothscroll.js')
        
        //main
        script(src='js/main.js')
        
        //bootstrap select
        // Latest compiled and minified CSS
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css')
        // Latest compiled and minified JavaScript
        script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js')
        // (Optional) Latest compiled and minified JavaScript translation files
        script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js')
        
        
    body(data-spy='scroll', data-offset='0', data-target='#navigation')
        // Fixed navbar
        #navigation.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/')
                        b I Can Has Help?
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.active
                            a.smothscroll(href='#home') What's this?
                        li
                            a.smothscroll(href='#desc') Programs & Services
                        li
                            a.smothscroll(href='#help') Get Help
                            
                            
                // /.nav-collapse
        section#home(name='home')
        #headerwrap
            .container
                .row.centered
                    .col-lg-12
                        h1
                            | I Can Has 
                            b Help
                            | ?
                        h3 Get information on benefits, programs, resources, and services avaiilable to NYC residents
                        br
                        br
                        br
                        br
            // / .container
        // / #headerwrap
        section#desc(name='desc')
        // INTRO WRAP
        #intro
            .container
                .row
                    h1.centered What is this? 
                    h3.centered A tool to help NYC residents get help.
                    br
                .row
                    h1.centered How does it work? 
                    h3.centered Select a category and population type (or many), and get information on help available.
                    
                    h3.centered The information is sorted by categoriy and population type. They incude:
                    br
                .row
                    h3.centered Categories
                    
                    .col-1g-12.text-center
                        .row.well.container
                            br
                            for category in params.category
                                .col-sm-3
                                    strong=category
                                    br
                                    br
                .row
                    h3.centered Population Types
                    .col-1g-12.text-center
                        .row.well.container
                        
                            br
                            for category in params.population
                                .col-sm-3
                                    strong=category
                                    br
                                    br
                #results.hidden
                    .row
                        h3.centered Results
                        .col-lg-12.text-center
                            // Button trigger modal
                            // Trigger the modal with a button
                            
                            br
                            br
                            br
                        
            // / .container
        // / #intro
        
        
        
        // Modal
        #eligible.modal.fade(role='dialog')
            .modal-dialog
                // Modal content
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        strong.modal-title Benefits, Programs, Resources, And Services Available To NYC Residents
                    .modal-body
                        .well
                            strong Select a category
                            p Select ALL to search in all categories
                            .row
                                .col-xs-12
                                  .form-group
                                    select.selectpicker.form-control(id='searchCategory')
                                        for option in params.category
                                            option=option
                        .well
                            strong Sort By Population Type 
                            p You can select multiple population types
                            .row
                                .col-xs-12
                                  .form-group
                                    select.selectpicker.form-control(id='searchPopulation', multiple)
                                        for option in params.population
                                            option=option
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                        button.btn.btn-default(type='button') Clear All Selections
                        button.btn.btn-info(onclick='search()', type='button', data-dismiss='modal') Search
                        


        
        
        section#showcase(name='showcase')
            #showcase
                .container.text-center
                    .col-lg-12
                        h1.centered For more information on programs and services offered to NYC residents go to 
                            a(href="http://www.nyc.gov/") nyc.gov
                            | , or call 311
                    br
                // /container
                
        section#contact(name='contact')
        #footerwrap
            .container
                .col-lg-4
                    h3 Made possible by:
                    p
                        a(href="https://dev.socrata.com/") The Socrata Open Data API
                .col-lg-4
                    h3 Dataset Owner:
                    p
                        a(href="https://opendata.cityofnewyork.us/") NYC OpenData
                .col-lg-4
                    h3 Data provided by:
                    p
                        a(href="http://www1.nyc.gov/site/operations/index.page") Mayor’s Office of Operations (OPS)
        #c
            .container.text-center
                p
                    | Created by 
                    a(href='http://www.chrisriewaldt.com') ChrisR
        //
            Bootstrap core JavaScript
            ==================================================
        // Placed at the end of the document so the pages load faster
        script(src='js/bootstrap.js')
        script.
            $('.carousel').carousel({
            interval: 3500
            })
