doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Pratt - Free Bootstrap 3 Theme')
        meta(name='author', content='Alvarez.is - BlackTie.co')
        link(rel='shortcut icon', href='ico/favicon.png')
        title Pratt - Free Bootstrap 3 Theme
        // Bootstrap core CSS
        link(href='css/bootstrap.css', rel='stylesheet')
        // Custom styles for this template
        link(href='css/main.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')
        script(src='js/jquery.min.js')
        script(src='js/smoothscroll.js')
    body(data-spy='scroll', data-offset='0', data-target='#navigation')
        // Fixed navbar
        #navigation.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')
                        b Pratt
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.active
                            a.smothscroll(href='#home') Home
                        li
                            a.smothscroll(href='#desc') Description
                        li
                            a.smothScroll(href='#showcase') Showcase
                        li
                            a.smothScroll(href='#contact') Contact
                // /.nav-collapse
        section#home(name='home')
        #headerwrap
            .container
                .row.centered
                    .col-lg-12
                        h1
                            | I Can Has 
                            b Help?
                        h3 Find out if you're eligible for help from various programs and sources.
                        br
                    .col-lg-2
                        h5 Amazing Results
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        img.hidden-xs.hidden-sm.hidden-md(src='img/arrow1.png')
                    .col-lg-8
                        img.img-responsive(src='img/app-bg.png', alt='')
                    .col-lg-2
                        br
                        img.hidden-xs.hidden-sm.hidden-md(src='img/arrow2.png')
                        h5 Awesome Design
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            // / .container
        // / #headerwrap
        section#desc(name='desc')
        // INTRO WRAP
        #intro
            .container
                .row.centered
                    h1 Designed To Excel
                    br
                    br
                    .col-lg-4
                        img(src='img/intro01.png', alt='')
                        h3 Community
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    .col-lg-4
                        img(src='img/intro02.png', alt='')
                        h3 Schedule
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    .col-lg-4
                        img(src='img/intro03.png', alt='')
                        h3 Monitoring
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                br
                hr
            // / .container
        // / #introwrap
        // FEATURES WRAP
        #features
            .container
                .row
                    h1.centered What's New?
                    br
                    br
                    .col-lg-6.centered
                        img.centered(src='img/mobile.png', alt='')
                    .col-lg-6
                        h3 Some Features
                        br
                        // ACCORDION
                        #accordion2.accordion.ac
                            .accordion-group
                                .accordion-heading
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseOne')
                                        | First Class Design
                                // /accordion-heading
                                #collapseOne.accordion-body.collapse.in
                                    .accordion-inner
                                        p
                                            | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    // /accordion-inner
                                // /collapse
                            // /accordion-group
                            br
                            .accordion-group
                                .accordion-heading
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseTwo')
                                        | Retina Ready Theme
                                #collapseTwo.accordion-body.collapse
                                    .accordion-inner
                                        p
                                            | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    // /accordion-inner
                                // /collapse
                            // /accordion-group
                            br
                            .accordion-group
                                .accordion-heading
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseThree')
                                        | Awesome Support
                                #collapseThree.accordion-body.collapse
                                    .accordion-inner
                                        p
                                            | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    // /accordion-inner
                                // /collapse
                            // /accordion-group
                            br
                            .accordion-group
                                .accordion-heading
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseFour')
                                        | Responsive Design
                                #collapseFour.accordion-body.collapse
                                    .accordion-inner
                                        p
                                            | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    // /accordion-inner
                                // /collapse
                            // /accordion-group
                            br
                        // Accordion
            // / .container
        // / #features
        section#showcase(name='showcase')
        #showcase
            .container
                .row
                    h1.centered Some Screenshots
                    br
                    .col-lg-8.col-lg-offset-2
                        #carousel-example-generic.carousel.slide
                            // Indicators
                            ol.carousel-indicators
                                li.active(data-target='#carousel-example-generic', data-slide-to='0')
                                li(data-target='#carousel-example-generic', data-slide-to='1')
                            // Wrapper for slides
                            .carousel-inner
                                .item.active
                                    img(src='img/item-01.png', alt='')
                                .item
                                    img(src='img/item-02.png', alt='')
                br
                br
                br
            // /container
        section#contact(name='contact')
        #footerwrap
            .container
                .col-lg-5
                    h3 Address
                    p
                        | Av. Greenville 987,
                        br
                        | 				New York,
                        br
                        | 				90873
                        br
                        | 				United States
                .col-lg-7
                    h3 Drop Us A Line
                    br
                    form(role='form', action='#', method='post', enctype='plain')
                        .form-group
                            label(for='name1') Your Name
                            input#name1.form-control(type='name', name='Name', placeholder='Your Name')
                        .form-group
                            label(for='email1') Email address
                            input#email1.form-control(type='email', name='Mail', placeholder='Enter email')
                        .form-group
                            label Your Text
                            textarea.form-control(name='Message', rows='3')
                        br
                        button.btn.btn-large.btn-success(type='submit') SUBMIT
        #c
            .container
                p
                    | Created by 
                    a(href='http://www.blacktie.co') BLACKTIE.CO
        //
            Bootstrap core JavaScript
            ==================================================
        // Placed at the end of the document so the pages load faster
        script(src='js/bootstrap.js')
        script.
            $('.carousel').carousel({
            interval: 3500
            })
